@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}



img {
  width: 100%;
  
  
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;

}
img:hover{
  scale: 103%;
}

.loading {
  width: 160px;
  height: 160px;
  --c:##ffffff 98%,#0000;
  background:
    radial-gradient(50% 70% at 50% 120%, var(--c)) top,
    radial-gradient(70% 50% at -20% 50%, var(--c)) right,
    radial-gradient(50% 70% at 50% -20%, var(--c)) bottom,
    radial-gradient(70% 50% at 120% 50%, var(--c)) left;
  background-size: 100% 50.1%,50.1% 100%;
  background-repeat: no-repeat;
  -webkit-mask:radial-gradient(circle 10px,#0000 90%,#000);
  animation:sh9 1.5s infinite linear;
}

@keyframes sh9 { 
  100%{transform: rotate(1turn)}
}

